{% extends 'base.html.twig' %}

{% block title %}Five Star{% endblock %}

{% block body %}
<div id="main">
  <!-- header -->
  <div id="header" class="small">
    <div class="row-1">
      <div class="wrapper">
        <div class="logo">
          <h1><a href="#">Five Star</a></h1>
          <em>Hotel</em> <strong>True Luxury</strong> </div>
        <div class="phones"> 1-800-412-45-56<br />
          1-800-542-64-48 </div>
      </div>
    </div>
    <div class="row-2 alt">
      <div class="indent">
        <!-- header-box-small begin -->
        <div class="header-box-small">
          <div class="inner">
            <ul class="nav">
             <li><a href="{{path('index')}}">Home page</a></li>
              <li><a href="{{path('service')}}">Services</a></li>
              <li><a href="{{path('gallery')}}" class="current">Gallery</a></li>
              <li><a href="{{path('restaurant')}}" >Restaurant</a></li>
              <li><a href="{{path('testimonial')}}">Testimonials</a></li>
              <li><a href="{{path('book')}}" >Booking</a></li>
            </ul>
          </div>
        </div>
        <!-- header-box-small end -->
      </div>
    </div>
  </div>
  <!-- content -->
  <div id="content">
    <div class="gallery">
      <ul>
        <li><a href="#"><img alt="" src="images/2page-img1.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img2.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img3.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img4.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img5.jpg" /></a></li>
        <li><a href="#"><img alt="" src="images/2page-img6.jpg" /></a></li>
      </ul>
    </div>
    <div class="container">
      <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="inner">
            <h3>Browse Images</h3>
            <div class="gallery-images">
              <ul>
                <li><a href="#"><img alt="" src="images/3page-img1.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img2.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img3.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img4.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img5.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img6.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img7.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img8.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img9.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img10.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img11.jpg" /></a></li>
                <li><a href="#"><img alt="" src="images/3page-img12.jpg" /></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="content">
        <div class="indent">
          <h2>Hotel’s picture gallery</h2>
          <div class="gallery-main png">
            <div class="inner"> <img alt="" src="images/3page-img13.jpg" />
              <div class="prev"><a href="#"><img alt="" src="images/prev.png" class="png" /></a></div>
              <div class="next"><a href="#"><img alt="" src="images/next.png" class="png" /></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <ul class="nav">
      <li><a href="#">Home</a>|</li>
      <li><a href="#">Services</a>|</li>
      <li><a href="#">Gallery</a>|</li>
      <li><a href="#">Restaurant</a>|</li>
      <li><a href="#">Testimonials</a>|</li>
      <li><a href="#">Booking</a></li>
    </ul>
    <div class="wrapper">
      <div class="fleft">Copyright &copy; 2009 <a href="#">Name Here</a>. All Rights Reserved</div>
      <div class="fright">Designed by TemplateMonster - <a href="http://www.templatemonster.com/">website templates</a> provider</div>
    </div>
  </div>
</div>
{% endblock %}
